apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: tmt-results
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 10Gi
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: tf-api
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: tf-api
rules:
- apiGroups:
    - tekton.dev
  resources:
    - pipelineruns
    - taskruns
  verbs:
    - create
    - get
    - list
- verbs:
    - get
  apiGroups:
    - tekton.dev
  resources:
    - pipelines
- apiGroups:
    - jumpstarter.dev
  resources:
    - exporters
  verbs:
    - list
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: tf-api
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: tf-api
subjects:
- kind: ServiceAccount
  name: tf-api
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: tf-api
  labels:
    app: tf-api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: tf-api
  template:
    metadata:
      labels:
        app: tf-api
    spec:
      containers:
        - name: tf-api
          image: image-registry.openshift-image-registry.svc:5000/openshift/tf_api:latest
          ports:
            - containerPort: 8080
          env:
            - name: TIMEOUT
              value: 72h0m0s
            - name: PIPELINE
              value: test-pipeline
            - name: EXPORTERS_NAMESPACE
              value: jumpstarter-lab
            - name: POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
          volumeMounts:
            - name: secret-volume
              readOnly: true
              mountPath: /.config/jumpstarter/clients
      serviceAccountName: tf-api
      volumes:
        - name: secret-volume
          secret:
            secretName: demo-config
            defaultMode: 420
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: tf-artifacts
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: tf-artifacts
rules:
- apiGroups:
    - tekton.dev
  resources:
    - pipelines
  verbs:
    - get
- apiGroups:
    - tekton.dev
  resources:
    - pipelineruns
    - taskruns
  verbs:
    - get
    - list
- apiGroups:
    - ''
  resources:
    - pods
    - pods/log
  verbs:
    - get
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: tf-artifacts
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: tf-artifacts
subjects:
- kind: ServiceAccount
  name: tf-artifacts
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: artifacts
  labels:
    app: artifacts
spec:
  replicas: 1
  selector:
    matchLabels:
      app: artifacts
  template:
    metadata:
      labels:
        app: artifacts
    spec:
      containers:
        - name: artifacts
          image: image-registry.openshift-image-registry.svc:5000/openshift/tf_artifacts:latest
          ports:
            - containerPort: 8090 # rsync
            - containerPort: 8080 # http server
          volumeMounts:
            - name: tmt-results
              mountPath: /srv/results
      serviceAccountName: tf-artifacts
      volumes:
        - name: tmt-results
          persistentVolumeClaim:
            claimName: tmt-results
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: tf-api
  name: tf-api
spec:
  ports:
  - port: 80
    protocol: TCP
    targetPort: 8080
  selector:
    app: tf-api
---
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: tf-api
  labels:
    shard: internal
spec:
  port:
    targetPort: 8080
  to:
    kind: Service
    name: tf-api
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: artifacts
  name: artifacts
spec:
  ports:
  - port: 80
    protocol: TCP
    targetPort: 8080
    name: server
  - port: 873
    protocol: TCP
    targetPort: 8090
    name: rsync
  selector:
    app: artifacts
---
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  labels:
    app: artifacts
    shard: internal
  name: artifacts
spec:
  port:
    targetPort: server
  to:
    kind: Service
    name: artifacts
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: rsync-client
secrets:
  - name: rsync-secret
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: rsync-role
rules:
  - apiGroups: [""]
    resources: ["pods", "pods/exec"]
    verbs: ["get", "list", "watch", "create", "delete", "patch", "update"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: rsync-rolebinding
subjects:
  - kind: ServiceAccount
    name: rsync-client
roleRef:
  kind: Role
  name: rsync-role
  apiGroup: rbac.authorization.k8s.io
